/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center;
}
h1.newstype {
  font-family:"Open Sans", sans-serif;
  color: green;
}
h2.newstype {
  font-family:"Open Sans", sans-serif;
  color: green;
}
h3.newstype {
  font-family:"Open Sans", sans-serif;
  color: green;
}
.color-green{
  color: green;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

code {
  padding: .25rem;
  margin: 0 .25rem;
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
        background-color: rgb(248, 248, 248);
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;

}

.container {
  box-sizing: border-box;
  width: calc(100% - 60px);

  padding: 45px 20px;
  margin: 0 auto;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

/* LOADING SCREEN */

.loading-screen {
  opacity: 1;
  visibility: visible;
  transition: all .25s ease-in-out;
}

.loading-screen.loaded {
  opacity: 0;
  visibility: hidden;
}

/* FORMS */

.pure-form {
  display: inline-block;
}

.input-bbo {
  width: 380px;
}
.btn-switch {
  margin : 10px!;
  width : 200px;
}
.list-btn {
  margin-top : 25px;
}

/* ALERTS */

.alert {
  padding: .5rem;
  color: darkgreen;
  background: darkseagreen;
  border: 1px solid darkgreen;
}
.button-text.mew{
  background: url(../public/myetherwallet-logo.png) no-repeat;
  background-size: contain;
  color: #0e97c0;
  padding: 10px;
  border: 1px solid;
  background-origin: content-box;
}
.button-text.metamask{
  background: url(../public/metamask-logo.png) no-repeat;
  background-size: contain;
  color: rgb(190, 70, 14);
  padding: 10px;
  border: 1px solid;
  background-origin: content-box;
}
.or-text{
  padding: 0 20px;
}
.text-green{
  color: green;
}


.Countdown{
  margin: 10px auto;
  padding-bottom: 20px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 50px;
}
.input-bbo{
   display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    max-width: 600px;
}
.deposit-button{
      background-color: #4dae4a;
      color: #fff;
}
.container-fix-600{
  width: 600px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 767px) {
  .container {
        width: calc(100% - 10px)!important;
    }
  span.or-text {
        display: block!important;
    }
    .container-fix-600 {
      width: 100%;
  }
}