div.menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    text-align: center;
}
ul.menu-sub {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    text-align: center;
}

ul.menu-sub li {
    display : inline-block
}

ul.menu-sub li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ul.menu-sub li a:hover {
    color: green;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
 img.img-logo {
    left: 15px;
    width: 120px;
    top: 5px;
    position: absolute;
}
.no-padding{
    padding: 0!important;
}
.container.no-padding{
    position: relative;
}
img.img-tele {
    width: 30px;
    position: absolute;
    top: 10px;
}
ul.menu-sub li a.telegram {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

@media (max-width: 767px) {
  ul.menu-sub {
      margin-top: 10px;
  }
  img.img-logo {
    left: auto;
    width: 120px;
    top: 10px;
    position: absolute;
    position: relative;
    clear: both;
  }
  img.img-tele {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 0px;
  }
  .container {
        width: calc(100% - 10px);
    }
        span.or-text {
        display: block;
    }
    p.addr {
    word-break: break-all;
}
}